<!DOCTYPE html>
<html ng-app="AssetApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets Overview</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/allCustomCss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angularApp")
    @Scripts.Render("~/bundles/angularGrid")
    @RenderSection("scripts", required: false)
</body>
</html>